@import "../../palette";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

.user-coins {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 48px;
  background: $background-soft-white;
  border-radius: 100px;
  padding: 0 10px;
  margin: 0 10px;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.user-section {
  display: flex;
  justify-content: space-between;
}

.header-label {
  font-size: 24px;
  color: $background-dark-grey;
  letter-spacing: -0.15px;
  line-height: 48px;
  text-align: left;
  animation: pop 0.2s;
  animation-iteration-count: 2;
}
